<nav class="navbar navbar-expand-lg navbar-light bg-light" id="ejsNavbar">
    <a class="navbar-brand" href="/">QuizyQuiz</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/quiz">Quiz</a>
        <a class="nav-item nav-link" href="/leaderboard">Leaderboard</a>
        <a class="nav-item nav-link" href="/comments" tabindex="-1">Comments</a>
    </div>
</nav>