<!-- <nav class="navbar">
    <a href="/">Homepage</a>
    <a href="/quiz">Start a new Quiz</a>
    <a href="/comments">Winner's Circle</a>
    <a href="/leaderboard">Leaderboard</a>
</nav> -->
<nav>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/quiz">Quiz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/comments">Winner's Circle</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/leaderboard">Leaderboard</a>
        </li>
    </ul>
</nav>