<!DOCTYPE html>
<html>

<head>
    <title>Quote Quiz: Home</title>

    <!-- font link -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Orbitron&display=swap" rel="stylesheet">
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS Sheet -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <% include ../partials/nav %>
    <div class="box">
        <h1>Quote Quiz</h1>
        <h3>By Marina & Geoffrey</h3>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript">
    </script>
</body>

</html>