<!DOCTYPE html>
<html>

<head>
    <title>Quote Quiz: Home</title>

    <!-- font link -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Raleway&display=swap" rel="stylesheet">
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS Sheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Tab icon -->
    <link rel="icon" type="image/png" href="/Projects/Project 2/Project-2-SQL-Express/assets/images/qq-big.png">
</head>

<body>
    <% include ../partials/nav %>
    <div class="box">
        <h1>Quote Quiz</h1>
        <h3>By Marina & Geoffrey</h3>
        <br><br>
        <p>
            Welcome to the Quote Quiz! You'll have 50 seconds to answer 5 questions correctly. Your score is more
            important than your time, but don't let that timer reach zero!
        </p>
        <p>
            If you make it in the top 5 scores, you'll be able to leave a comment on our <a href="/comments">Comment's
                Page</a>.
        </p>
        <p>
            Otherwise, your score will go to the <a href="/leaderboard">Leaderboard</a>
        </p>
        <br>
        <p>
            May the odd's be ever in your favor.
        </p>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript">
    </script>
</body>

</html>