<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Quote Quiz:Quiz</title>
    <!-- font link -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Raleway&display=swap" rel="stylesheet">
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS Sheet -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <% include ../partials/nav %>
    <div class="box">
        <h1>Quote Quiz</h1>
        <br>
        <br>
        <div class="quiz-timer form-group">
            <input class="form-control" id="playerName" name="name" type="text" placeholder="Name">
            <br>
            <div class="quiz">
                <button class="btn btn-success" id="go">Go!</button>
            </div>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Congrats, You were in the top 5 highest players!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="winDiv">
                    <h2>You can leave a message below that will appear on the LEADERPAGE</h2>
                    <input class="form-control" id="commInput" type="text" placeholder="Leave a Comment Here">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="noComm">No, Thanks</button>
                    <button type="button" class="btn btn-primary" id="commSubmit">Submit Comment</button>
                </div>
            </div>
        </div>
    </div>


    <!-- jquery link -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- js file link -->
    <script type="text/javascript">
        var timer
        var quizArea = $('.quiz')
        var q = [];
        function questionGen() {
            for (var i = 0; i < 5; i++) {
                q.push(parseInt([Math.floor(Math.random() * 48) + 1]))
                console.log(q)
            }
        }
        questionGen();

        var rules = {
            right: 0,
            wrong: 0,
            counter: 50,
            timer: function () {
                rules.counter--;
                if (rules.counter == 0) { alert('Time up!') }
                $("#countdown").text(rules.counter + " Seconds");
            },
            go: function () {
                $("#playerName").hide();
                $('#go').remove();
                timer = setInterval(rules.timer, 1000)
                $(".quiz-timer").prepend(
                    "<h3 id='counterArea'> Time left: <p id='countdown'>50 Seconds<p> </h3>"
                )

                $.ajax({ url: '/questions', method: 'GET' }).then(function (res) {
                    for (var i = 0; i < 5; i++) {
                        var thisQ = q[i]
                        // console.log

                        quizArea.append("<h3>" + res[thisQ].question + "</h3>");
                        quizArea.append("<br><br><input type='radio' name='question-" + i +
                            "' value='" + res[thisQ].answer1 + "''>" + res[thisQ].answer1);
                        quizArea.append("<br><br><input type='radio' name='question-" + i +
                            "' value='" + res[thisQ].answer2 + "''>" + res[thisQ].answer2);
                        quizArea.append("<br><br><input type='radio' name='question-" + i +
                            "' value='" + res[thisQ].answer3 + "''>" + res[thisQ].answer3);
                        quizArea.append("<br><br><input type='radio' name='question-" + i +
                            "' value='" + res[thisQ].answer4 + "''>" + res[thisQ].answer4 + "<br><br><br><br>");


                    }
                    quizArea.append("<br><br><br><button class='btn btn-danger' id='stop'>Stop</button>");
                })



            },
            stop: function () {
                $(".quiz-timer").append(
                    "<h3> You completed the quiz with only</h3> <h3 id='finalCountdown'>50 Seconds</h3><h3> left!</h3>"
                )

                var inputs = quizArea.children("input:checked");
                var stopQ = 4

                var that = this;

                $.ajax({
                    url: '/questions',
                    method: 'GET'
                }).then(function (res) {

                    for (var i = 0; i < 5; i++) {

                        var thisQ = q[i]
                        console.log("ThisQ is " + thisQ)
                        console.log("res[thisQ].answer1 is " + res[thisQ].answer1)
                        q.push(thisQ)
                        var answers = []
                        answers.push(res[thisQ].answer1)
                        answers.push(res[thisQ].answer2)
                        answers.push(res[thisQ].answer3)
                        answers.push(res[thisQ].answer4)
                        console.log("These are all the answers " + answers)
                        var answer = res[thisQ].correct_answer
                        console.log(answer + " is turned into " + answers[answer - 1])
                        console.log($(inputs[i]).val() + " is the chosen answer")
                        if ($(inputs[i]).val() == answers[answer - 1]) {
                            console.log("+1 Right answer")
                            that.right++;
                        } else {
                            console.log("+1 Wrong answer")
                            rules.wrong++;
                            console.log(that.wrong)
                        }
                        if (i == 4) {
                            that.score();
                        }
                    }

                }
                )



            },
            score: function () {
                console.log(this.right)

                $("#counterArea").html(" ")
                clearInterval(timer);
                $('#finalCountdown').text(this.counter + " seconds")
                quizArea.html("<h2>Congrats!</h2>");
                quizArea.append("<h3>Right Answers: " + this.right + "</h3>");
                quizArea.append("<h3>Wrong Answers: " + this.wrong + "</h3>");
                this.insertscore();
            },
            win: function () {
                $('#exampleModal').modal('show')
            },
            insertscore: function () {

                // event.preventDefault();

                console.log("player name is: " + $("input#playerName").val());
                var pN = $("input#playerName").val();
                var pS = this.right;
                var pT = this.counter;

                $.ajax({
                    url: '/insert',
                    method: 'POST',
                    data: {
                        score: pS,
                        playerName: pN,
                        time: pT
                    }
                }).then(function (res) {
                    console.log(res.id)
                    console.log("Insert AJAX ran.")
                    $.ajax({
                        url: '/scores',
                        method: 'GET'
                    }).then(function (res) {
                        console.log("Player id for win check: " + res[res.length - 1].id);
                        var thisPlayer = res[res.length - 1].id;

                        $.ajax({
                            url: '/leaderboard_feed',
                            method: 'GET'
                        }).then(function (res) {
                            for (var i = 0; i < 5; i++) {
                                if (thisPlayer == res[i].id) {
                                    console.log("We have a winner!")
                                    rules.win();

                                }
                            }
                        })
                    }
                    )
                })
            },
            insertcomment: function () {
                $.ajax({
                    url: '/scores',
                    method: 'GET'
                }).then(function (res) {
                    console.log("Player id: " + res[res.length - 1].id);
                    console.log("Player comment is: " + $("input#commInput").val());
                    var c = $("input#commInput").val();
                    var cI = parseInt(res[res.length - 1].id);

                    $.ajax({
                        url: '/insert_comment',
                        method: 'POST',
                        data: {
                            comment: c,
                            comm_id: cI
                        }
                    }).then(function (res) {
                        console.log("Comment POST AJAX ran.")
                        debugger;
                        window.location = '/comments';

                    })
                })
            },





        }

        $(document).on("click", "#go", function () {
            rules.go();
        });
        $(document).on("click", "#stop", function () {
            rules.stop();
        });
        $(document).on("click", "#commSubmit", function () {
            rules.insertcomment();
        });

    </script>
</body>

</html>